*{
    magrin:0;
    padding: 0;

}

body{
    width: 867px;
    margin: 0 auto;
    font-size: 12px;
    color: #333;


}

ul{
    list-style-type: none;
}

img{
    border: none;
}

#header{
    width: 867px;
    height: 323px;
   background: green;


}

#sidebar{
    width: 251px;
    height: 490px;
    background: url(../images/weline.gif)  repeat-y right top;
    float: left;
 }

#sidebar h1{
    background: url(../images/wel.gif) no-repeat;
    width: 123px;
    height:35px;
    font-size: 100%;
    text-indent: -999px;
    margin-top: 15px;
    margin-left: 20px;
}

#sidebar img{
    display: block;
    margin-left: 20px;
}

#sidebar ul{
    line-height: 180px;
    text-indent: 20px;

}

#sidebar ul li a{
    display: inline-block;
    width: 65px;
    height: 11px;
    background: url(../images/more.gif) no-repeat left center;
    text-indent: -8888px;


}

#sidebar ul li.line{
    border-bottom:1px solid  #999;
    margin-left:20px ;
    margin-right: 50px;
    margin-bottom: 5px;
    height: 10px;



}
#news{
    width: 313px;
    height: 300px;
    background: white;
    float:left;
}

#news h1{
    background: url(../images/news.gif) no-repeat;
    width: 123px;
    height:27px;
    font-size: 100%;
    text-indent: -999px;
    margin-top: 15px;
    margin-left: 20px;
}
#news ul{
    line-height: 160%;
    margin-top: 10px;
}

#news ul li{
    padding-left: 15px;
}

#news ul li.date{
    color: orange;
    font-weight: bold;
    background: url(../images/ico.gif) no-repeat left center;
}
#news ul li a{
    display: inline-block;
    width: 65px;
    height: 11px;
    background: url(../images/more.gif) no-repeat left center;
    text-indent: -8888px;
    margin-top: 15px;

}

#about{
    width:303px ;
    height: 300px;
    background: navy;
    float: left;
}

#estate{
    width: 616px;
    height: 190px;
    background: #fdff2f;
    float: left;
}
#nav{
    width: 867px;
    height: 51px;
    background: url(../images/linkbg.jpg);
}
#nav ul{

    height: 51px;
    line-height: 51px;



}
#nav ul li {
    display: inline;
    text-align: center;
    height: 51px;
    width: 124px;
    float: left;
    background: url(../images/linkr.gif) no-repeat right center;
    /*
    每个块的长度为124
    6个的长度为744
    最后一个长度无 123
    */
}

#nav ul li.liend{
    width: 123px;
    background: none;
}

#nav ul li a{
    color: #fff;
    display: inline-block;
    width: 123px;
    height: 51px;
    text-decoration: none;
}
#nav ul li  a:hover{
    font-size: 14px;
    font-weight: bold;
  text-decoration: underline;
  color: #fdff2f;
 }

#nav ul li.liend a{
    width:123px;
}
#footer{
    clear: both;
    width: 867px;
    height:110px ;
    background: rgba(21, 204, 70, 0.8);
}